{% extends 'base.html' %}


{% block title %}About{% endblock %}

{% block content %}
<body background= "/static/images/bg.jpg">
	<center>
		<h1 style="color: #1db954;"> Okay, so how am I doing this? </h1>
		<h6 style="color: grey;"> —spoiler alert, I'm not related to Nostrodamus. </h6>
		<br/><br/>
		<h4 style="color: white;"> What's happening here is simple plain old 'Logistic Regression', </h4>
		<h4 style="color: white;"> which comes under the more well-known umbrella term 'Machine Learning'. </h4>
		<h4 style="color: white;"> I've trained a learning model on data that I got from the <a style="color:#1db954" href="https://www.spotify.com/in/"> Spotify </a> servers   </h4>
		<h4 style="color: white;"> and am now predicting the success percentage of any song given </h4>
		<h4 style="color: white;"> based on that. </h4>
		<br/> 
		<h4 style="color: white;"> The percentage here depends more on the current pop culture  </h4>
		<h4 style="color: white;"> sensibilities and the way it was made rather than their inherent quality.
		</h4>
		<h4 style="color: white;"> So don't come on to me with pitchforks if your favourite avant-garde </h4>
		<h4 style="color: white;"> chamber-pop/folk song isn't predicted to do well, because that song </h4>
		<h4 style="color: white;"> was probably never produced to be a 'hit', you see? </h4>
		<br/>
		<h4 style="color: white;"> Also, since I'm relying on the data provided by the good folks over at Spotify, </h4>
		<h4 style="color: white;"> so please make sure that your song is available there, alright? alright. </h4>
		<br/><br/>
		<h5 style="color: grey;"> If you want to learn all of it, <a style="color:#1db954" href="https://www.coursera.org/learn/machine-learning/"> Machine Learning by Andrew NG </a> is (probably)  the best place. </h5>

		<h5 style="color: grey;"> The current version of the model does not include predictions for Bollywood </h5>
		<h5 style="color: grey;"> tracks, but I plan on including that too in future, so keep an eye out for that one! </h5> 

		<br/><br/>

	</center>
</body>


{% endblock %}